.image-modal-container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.image-card-container {
  max-width: 50%;
  
  z-index: 1;
  border-radius: 5px;
  margin: auto auto;
  padding: 50px;
  color: white;
}
.image-card-container h3{
  font-weight: bold;
  margin: 1rem;
}

.image-card-container img {
  border-radius: 5px;
  width: 100%;
  max-height: 70vh;
}

.hidden-modal{
    position: relative;
    z-index: 1;
    top: 50px;
    right: 50px;
    cursor: pointer;

}
.hidden-modal span{
    font-size: 4rem;
    color: white
}