.row-evenly {
  display: flex;
  justify-content: space-evenly;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 3rem;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 600px) {
  .modal {
    padding: 10px;
  }
}
.texto {
  color: rgba(255, 255, 255, 0.8) !important;
  cursor: pointer;
}
.texto:hover {
  color: rgba(255, 255, 255, 1) !important;
}
.modal-notify {
  display: none;
  position: absolute;
  width: 20%;
  top: 10px;
  right: 20px;
  z-index: 1;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
}
.modal-notify p {
  color: inherit;
}
@media only screen and (max-width: 600px) {
  .modal-notify {
    width: 80%;
  }
}

.go-home {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}
