<nav class="nav top">
  <div class="top-container">
    <a class="top-item" routerLink="/login" >Únete/Accede</a>
    <a class="top-item"><i class="fas fa-cart-arrow-down"></i></a>
  </div>
</nav>

<nav class="nav">
  <a class="nav-item" routerLinkActive="active" routerLink="/home">Inicio</a>
  <a class="nav-item" routerLinkActive="active" routerLink="/shoe"
    >Zapatillas</a
  >
  <a class="nav-item" routerLinkActive="active" routerLink="/jacket"
    >Chandals</a
  >
  <a class="nav-item" routerLinkActive="active" routerLink="/user">Mi perfil</a>
</nav>
