<div>
  <div class="colm">
    <div class="rows main-container">
      <div class="grid">
        <div
          *ngFor="let image of imagenes; index as i"
          [ngClass]="{ 'grid-grow': i === 0 }"
          class="img-container"
        >
          <img src="{{ image.urlimage }}" alt="" />
        </div>
      </div>
      <div class="rows rows-center form">
        <div class="colm colm-center form">
          <div class="rows title">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }}€</p>
          </div>
          <form></form>
        </div>
      </div>
    </div>
  </div>
</div>
