<div class="card-container" (click)="routerProduct()">
  <div class="card" style="width: 100%;">
    <img [src]="shoe.urlimage" class="card-img-top" alt="..." />
    <div class="card-body">
      <div class="card-footer">
        <span
          ><small>{{ shoe.name }}</small></span
        >
        <div class="rows price">
          <span [ngClass]="{ ofert: shoe.ofert }">{{ shoe.price }}€</span>
          <span *ngIf="shoe.ofert">{{ shoe.ofert_price }}€</span>
        </div>
      </div>
      <span>{{ shoe.type }}</span>
    </div>
  </div>
</div>
