.card-container {
  display: flex;
  justify-content: center;
}
.card {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.card:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.card img {
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .card img {
    height: auto;
  }
}
.card-title {
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.card-footer span {
  font-size: 1rem;
}
.card-footer span small {
  font-size: 1rem;
}
.price span {
  margin-left: 0.5rem;
}
.ofert {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
