.nav {
  display: flex;
  justify-content: center;
  background-color: white;
}
.nav-item {
  padding: 1rem 1rem;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.nav-item:hover {
  color: grey;
}
.nav-item.active {
  border-bottom: 1px solid black;
}
