.btn-edit {
  background-color: green;
  margin: 8px 1px 5px 1px;
  font-size: 15px;
}
.btn-danger {
  font-size: 15px;
}
.table img {
  width: 50px;
}

/*Modal image*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal--content {
  margin: 3rem auto;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
}
@media only screen and (max-width: 700px) {
  .modal--content {
    padding: 10px;
    width: 80%;
  }
  .modal--content input {
    width: 95%;
  }
  .screen-tab {
    display: none;
  }
  .colm {
    align-items: flex-start;
  }
}
.modal--content span {
  cursor: pointer;
}
.form {
  margin-top: 2rem;
}
.form--item {
  margin: 1rem 0;
  border-bottom: 2px solid black;
  padding: 0.5rem;
}
.form--item:focus {
  border: 2px solid purple !important;
  border-radius: 5px;
}
.form--item:focus-within {
  color: rebeccapurple;
}
.form--item::placeholder {
  color: black;
}
.drop-container {
  border: 2px dotted grey;
  margin: 0.5rem 0;
}
.file-over {
  border-color: blue;
}
.form select {
  border: none;
  margin: 0.6rem 0;
  padding: 0.3em;
  border-radius: 5px;
}
.form select:focus {
  border: 2px solid purple;
}

/* Modal notification */
.modal-notification {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  right: 10px;
  top: 50px;

  text-align: center;
}

/*Modal delete confirm*/
.modal-card {
  margin: 5rem auto;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .modal-card {
    width: 80%;
  }
}
.modal-card p {
  font-size: 1.5rem;
}
.modal-card button {
  margin: 1rem 0.5rem;
  width: 100%;
}

.grid-sizes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}


.number-size{
  width: 40px;
  background-color: purple;
  color: white;
  border-bottom: 1px solid black;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;

}
