.btn-edit {
  background-color: green;
  margin: 8px 1px 5px 1px;
  font-size: 15px;
}
.btn-danger {
  font-size: 15px;
}
.table img {
  width: 50px;
}

/*Modal image*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal--content {
  margin: 3rem auto;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
}
.modal--content span {
  cursor: pointer;
}
.form--item {
  margin: 1rem 0;
  border-bottom: 2px solid black;
  padding: 0.5rem;
}
.form--item:focus {
  border: 2px solid purple !important;
  border-radius: 5px;
}
.form--item:focus-within {
  color: rebeccapurple;
}
.form--item::placeholder {
  color: black;
}
.drop-container {
  border: 1px dotted grey;
  margin: 0.5rem 0;
}
