<div class="colm colm-center colm-w10 fadeIn">
  <div class="rows rows-w6">
    <button class="btn btn-primary btn-block" (click)="showModal('new')">
      Añadir Producto
    </button>
  </div>
  <div class="rows rows-w8">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre Producto</th>
          <th>Cantidad</th>
          <th>Tipo</th>
          <th>Precio</th>
          <th>Foto</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th>{{ item.name }}</th>
          <td>{{ item.quantity }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.price }}€</td>
          <td><img [src]="item.urlimage" alt="" /></td>
          <td>
            <div class="rows">
              <button
                class="btn btn-edit btn-block"
                (click)="showModal('edit', item)"
              >
                <i class="far fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-block">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Image modal-->
<div class="modal fadeIn" id="modalProduct">
  <div class="modal--content">
    <div class="rows rows-sbet">
      <h4>{{ modalTitle }}</h4>
      <span (click)="hiddenModal()">&times;</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveArticle()" class="form">
      <div class="colm">
        <label for="name">Nombre de producto</label>
        <input
          type="text"
          placeholder="Nombre producto"
          class="form--item"
          name="name"
          id="name"
          formControlName="name"
        />
        <label for="quantity">Cantidad</label>
        <input
          type="number"
          placeholder="Cantidad"
          class="form--item"
          name="quantity"
          id="quantity"
          formControlName="quantity"
        />
        <label for="price">Price</label>
        <input
          type="text"
          placeholder="Precio"
          class="form--item"
          formControlName="price"
        />
        <label for="size">Talla</label>
        <input
          type="text"
          placeholder="talla"
          class="form--item"
          formControlName="size"
        />
        <label for="type">Tipo de producto</label>
        <select formControlName="type">
          <option value="shoe">Zapatilla</option>
          <option value="jacket">Chándal</option>
        </select>
        <label>Arrastra la imagen</label>
        <div class="colm">
          <div
            class="rows rows-center drop-container"
            appNgDropFiles
            [files]="files"
            [ngClass]="{ 'file-over': overDrop }"
            (onMouseDragOver)="dragEvent($event)"
          >
            <img src="../../../../../../../assets/img/drop-images.png" alt="" />
          </div>
          <table class="table">
            <thead class="thead-dark">
              <th>Archivo</th>
            </thead>
            <tbody>
              <td *ngFor="let item of files">{{ item.name }}</td>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-block">{{ modalTitle }}</button>
      </div>
    </form>
  </div>
</div>

<app-modal-notification
  class="modal-notification fadeIn"
  id="modalnotification"
  [message]="modalNotificationMessage"
></app-modal-notification>
