<div class="colm colm-center colm-w10 fadeIn">
  <div class="rows rows-w6">
    <button class="btn btn-primary btn-block" (click)="showModal('new')">
      Añadir Producto
    </button>
  </div>
  <div class="rows rows-w8">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre Producto</th>
          <th class="screen-tab">Cantidad</th>
          <th class="screen-tab">Tipo</th>
          <th class="screen-tab">Precio</th>
          <th>Foto</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th>{{ item.name }}</th>
          <td class="screen-tab">{{ item.quantity }}</td>
          <td class="screen-tab">{{ item.type }}</td>
          <td class="screen-tab">{{ item.price }}€</td>
          <td><img [src]="item.urlimage" alt="" /></td>
          <td>
            <div class="rows">
              <button
                class="btn btn-edit btn-block"
                (click)="showModal('edit', item)"
              >
                <i class="far fa-edit"></i>
              </button>
              <button
                class="btn btn-danger btn-block"
                (click)="showModalDelete(item)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Image modal-->
<div class="modal fadeIn" id="modalProduct">
  <div class="modal--content">
    <div class="rows rows-sbet">
      <h4>{{ modalTitle }}</h4>
      <span (click)="hiddenModal()">&times;</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveArticle()" class="form">
      <div class="colm">
        <label for="name">Nombre de producto</label>
        <input
          type="text"
          placeholder="Nombre producto"
          class="form--item"
          name="name"
          id="name"
          formControlName="name"
        />

        <label for="price">Precio original</label>
        <input
          type="text"
          placeholder="Precio"
          class="form--item"
          formControlName="price"
        />
        <label>¿Está en oferta?</label>
        <select name="ofert" id="ofert" formControlName="ofert">
          <option value="true">SI</option>
          <option value="false">NO</option>
        </select>
        <label>Precio oferta</label>
        <input
          type="text"
          class="form--item"
          placeholder="Precio oferta"
          formControlName="ofert_price"
        />
        <label for="type">Tipo de producto</label>
        <select formControlName="type">
          <option value="shoe">Zapatilla</option>
          <option value="jacket">Chándal</option>
        </select>
        <div class="rows">
          <label for="stock">Stock</label>
          <input type="checkbox" id="stock" formControlName="stock" />
        </div>

        <!--Sizes Logic-->
        <div *ngIf="form.get('stock').value" formArrayName="sizes">
          <label>Tallas</label>
          <div class="grid-sizes">
            <div
              *ngFor="let size of sizes.controls; index as i"
              class="grid-sizes--item"
            >
              <div
                *ngIf="
                  (form.get('type').value === 'jacket' && i < 4) ||
                  form.get('type').value === 'shoe'
                "
              >
                <label *ngIf="form.get('type').value === 'shoe'" [for]="i"
                  >EU {{ 39 + i }}</label
                ><label *ngIf="form.get('type').value === 'jacket'" [for]="i">{{
                  i | jacketSize
                }}</label>

                <input
                  *ngIf="
                    (form.get('type').value === 'jacket' && i < 4) ||
                    form.get('type').value === 'shoe'
                  "
                  type="number"
                  name="size"
                  id="{{ i }}"
                  [formControlName]="i"
                  class="number-size"
                />
              </div>
            </div>
          </div>
        </div>
        <!--End Sizes Logic-->

        <label>Arrastra la imagen</label>
        <div class="colm">
          <div
            class="rows rows-center drop-container"
            appNgDropFiles
            [files]="files"
            [ngClass]="{ 'file-over': overDrop }"
            (onMouseDragOver)="dragEvent($event)"
          >
            <img src="../../../../../../../assets/img/drop-images.png" alt="" />
          </div>
          <table class="table">
            <thead class="thead-dark">
              <th>Archivo</th>
            </thead>
            <tbody>
              <td *ngFor="let item of files">{{ item.name }}</td>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-block">{{ modalTitle }}</button>
      </div>
    </form>
  </div>
</div>

<app-modal-notification
  class="modal-notification fadeIn"
  id="modalnotification"
  [message]="modalNotificationMessage"
></app-modal-notification>

<!--App Modal confirm delete-->
<div class="modal fadeIn" id="modaldelete">
  <div class="modal-card">
    <p>¿Desea borrar el registro?</p>
    <div class="rows">
      <button class="btn btn-danger" (click)="deleteProduct()">Sí</button>
      <button class="btn btn-primary" (click)="hiddenModalDelete()">No</button>
    </div>
  </div>
</div>
