<div class="colm fadeIn ">
  <div class="rows rows-sarround header">
    <img src="../../../../assets/img/no-img.jpg" alt="" />
    <div class="colm colm-w4 profile-data">
      <h4>DATOS PERSONALES</h4>
      <span>Nombre</span>
      <p>{{ user.name }}</p>
      <span>Direccion</span>
      <p>{{ user.addr }}</p>
      <span>Email</span>
      <p>{{ user.email }}</p>
      <span>Role</span>
      <p>{{ user.role }}</p>
    </div>
  </div>

  <h3>PEDIDOS</h3>

  <div class="rows rows-center">
    <div class="rows-w6">
      <table class="table">
        <thead class="table-darks">
          <th>Fecha</th>
          <th>Estado</th>
          <th>Importe</th>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments">
            <td>{{ payment.date | date }}</td>
            <td>{{ payment.state | payment }}</td>
            <td>{{ payment.amount }}€</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
