.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1rem;
}
@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-container {
  margin: 2rem 3rem;
}
h3 {
  font-weight: bold;
}
