<div class="title">
  <h2>¡Pasémos por caja!</h2>
</div>

<div class="rows rows-sevenly">  
  <div class="colm">
    <h3>Cesta</h3>
    <hr />
    <table class="table">
      <thead class="table-dark">
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <td>Real Madrid</td>
        <td>1</td>
        <td>55€</td>
      </tbody>
    </table>
  </div>
  <div class="colm" >

    <h3>Resumen de compra</h3>
    <hr>
    <div class="rows rows-sbet">
        <h5>Subtotal</h5>
        <span>45€</span>
    </div>
    <div class="rows rows-sbet">
        <h5>Gastos de Envío</h5>
        <span>3,95€</span>
    </div>
    <hr>
    <div class="rows rows-sbet">
        <h4>Total</h4>
        <span>48,95€</span>
    </div>


  </div>
</div>
