<div class="title">
  <h2>¡Pasémos por caja!</h2>
</div>

<div class="rows rows-sevenly custom-container fadeIn">
  <div class="colm colm-w4 custom-table">
    <h3>Cesta</h3>
    <hr />

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Talla</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <th scope="row">
            <a routerLink="/product/{{ item.product.id }}">
              {{ item.product.name }}
            </a>
          </th>
          <td>{{ item.size }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item | checkOfert }}€</td>
          <td><button class="btn btn-danger btn-block" (click)="deleteFromCar(item)" >Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="colm">
    <h3>Resumen de compra</h3>
    <hr />
    <div class="rows rows-sbet">
      <h5>Subtotal</h5>
      <span>{{ subtotal }}€</span>
    </div>
    <div class="rows rows-sbet">
      <h5>Gastos de Envío</h5>
      <span>{{ shippingCost }}€</span>
    </div>
    <hr />
    <div class="rows rows-sbet">
      <h4>Total</h4>
      <span>{{ total }}€</span>
    </div>
    <hr />
    <button class="btn btn-primary btn-bloc" (click)="makeOrder()">
      Obtener token
    </button>
  </div>
</div>
