.title {
  text-align: center;
  margin-bottom: 4rem;
}

.custom-container {
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .custom-container {
    margin: 1rem;
    flex-direction: column;
    align-items: center;
  }
  th{
    font-size: 0.8rem !important;
  }
  td{
    font-size: 0.7rem !important;
  }
  td a{
    font-size: 0.7rem !important;
  }
  .btn-danger{
    padding: 3px ;
  }
  .custom-table {
    margin: 1rem 0;
    width: 100%;
  }
  .car-detail {
    margin-top: 2rem;
    width: 100%;
  }
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary {
  background-color: blue;
}
.btn-primary:hover {
  background-color: rgba(0, 4, 255, 0.7);
}
