.title {
  text-align: center;
  margin-bottom: 4rem;
}

.custom-container {
  flex-direction: row;
}
@media only screen and (max-width: 500px) {
  .custom-container {
    margin: 1rem;
    flex-direction: column;
  }
  .custom-table {
    margin: 1rem 0;
  }
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}


.btn-primary{
  background-color: blue;
}
.btn-primary:hover{
  background-color: rgba(0, 4, 255, 0.7);
}
