/* You can add global styles to this file, and also import other style files */

body {
  background-color: white;
}

.colm {
  display: flex;
  flex-direction: column;
}
.colm-center {
  align-items: center;
}
.colm-w10 {
  width: 100%;
}
.rows {
  display: flex;
}
.rows-sbet {
  justify-content: space-between;
}
.rows-sevenly {
  justify-content: space-evenly;
}
.rows-center {
  justify-content: center;
}
.rows-w6 {
  width: 60%;
}
.rows-w8 {
  width: 80%;
}

.fadeIn {
  animation-name: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
.fadeOut {
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeout {
  from {
    opacity: 100%;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
